<h5>Kontakt</h5>
<div>
  <label class="title">Website</label>
  <a class="url" target="_blank" rel="noopener noreferrer" href="https://janmichaellaranjo.github.io/">https://janmichaellaranjo.github.io</a>
</div>
<div>
  <label class="title">Email</label>
  <a class="url" href= "mailto:janmichaellaranjo@gmail.com">janmichaellaranjo@gmail.com</a>
</div>
<div>
  <label class="title">LinkedIn</label>
  <a class="url" target="_blank" rel="noopener noreferrer" href="https://at.linkedin.com/in/janmichaellaranjo">https://at.linkedin.com/in/janmichaellaranjo</a>
</div>
