<h5>Allgemein</h5>
<p>
  Diese Web-Applikation gibt dir einen Überblick über die Gesamtanzahl von ECTs, die entweder Pflicht-Lehrveranstaltungen, 
  ergänzenden Pflicht-Lehrveranstaltungen, Wahl-Lehrveranstaltungen oder Soft-Skills sind und du gesammelt hast. 
  Zusätzlich wird noch eine Liste an fehlenden Pflicht-Lehrveranstaltungen des Curriculum angezeigt. Außerdem wird noch eine 
  Liste von Lehrveranstaltungen angezeigt, die nicht zugeordnet werden konnte.
</p>
<h5>Austausch der Implementation</h5>
<p>
  Diese Applikation hängt stark von dem Textformat der Datei ab und erwartet bestimmte Textpassagen oder Textformate ab. Jedoch 
  kann mit Hilfe der Dokumentation eine neue Implementation erstellt werden, die für das Format zugeschnitten ist, und die 
  Implementation einfach ausgetauscht werden.
</p>
<h5>Fehlermeldung</h5>
<p>
  Falls ein Fehler bei der Analyse der einzelnen Dateien auftritt, wird sofort eine rote Fehlermeldung angezeigt und die Analyse
  kann nicht fortgeführt werden. Dies kann vor allem der Fall sein, wenn das Format nicht für die derzeitige Implemenation 
  überstimmt. 
</p>