<p id="instructionText">Diese Web-Application gibt dir einen Überblick über die Gesamtanzahl von ECTs, die du in Pflicht-Lehrveranstaltungen, ergängzenden Pflicht-Lehrveranstaltungen, Wahl-Lehrveranstaltungen oder Soft-Skills. Zusätzlich wird noch eine Liste an fehlenden Pflicht-Lehrveranstaltungen des Curriculum angezeigt.</p>
<table>
  <tr>
    <td>
      <label id="studyPlanLabel">Studienplan</label>
    </td>
    <td>
      <input type="file" accept=".pdf" id="selectedStudyPlanFile" style="display: none;" #studyPlanFileInput (change)="handleStudyPlanInput($event.target.files)" />
      <input type="button" value="Auswählen" onclick="document.getElementById('selectedStudyPlanFile').click();" />
    </td>
    <td *ngIf="isStudyPlanFileCorrect">
        <mat-chip-list>
          <mat-chip [removable]="removable" (removed)="removeStudyPlan()">
            {{studyPlanFilePath}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
    </td>
    <td *ngIf="isStudyPlanFileSelected && isStudyPlanFileCorrect">
      <mat-icon class="green-icon">done</mat-icon>
    </td>
    <td *ngIf="isStudyPlanFileSelected && !isStudyPlanFileCorrect">
        <mat-icon color="warn">clear</mat-icon>
        <label class="error">{{studyPlanErrorMessage}}</label>
    </td>
  </tr>
  <tr>
    <td>
      <label id="transitionalProvisionLabel">Übergangsbestimmungen(Optional)</label>
    </td>
    <td>
      <input type="file" accept=".pdf" id="selectedTransitionalProvisionFile" style="display: none;" #transitionalProvisionFileInput (change)="handleTransitionalProvisionInput($event.target.files)"/>
      <input type="button" value="Auswählen" onclick="document.getElementById('selectedTransitionalProvisionFile').click();" />    
    </td>
    <td *ngIf=isTransitionalProvisionFileCorrect>
      <mat-chip-list>
        <mat-chip [removable]="removable" (removed)="removeTransitionalProvision()">
            {{transitionalProvisionFilePath}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </td>
    <td *ngIf="isTransitionalProvisionFileCorrect">
      <mat-icon class="green-icon">done</mat-icon>
    </td>
    <td *ngIf="isTransitionalProvisionFileSelected && !isTransitionalProvisionFileCorrect">
        <mat-icon color="warn">clear</mat-icon>
        <label class="error">{{transitionalProvisionErrorMessage}}</label>
    </td>
    <td>     
    </td>
  </tr>
  <tr>
    <td>
      <label id="finishedCoursesLabel">Abgeschlossene Lehrveranstaltungen</label>
    </td>
    <td>
      <input type="file" accept=".xlsx" id="selectedFinishedCoursesFile" style="display: none;" #finishedCoursesFileInput (change)="handleFinishedCoursesInput($event.target.files)"/>
      <input type="button" value="Auswählen" onclick="document.getElementById('selectedFinishedCoursesFile').click();" />
    </td>
    <td *ngIf="isFinishedCoursesFileCorrect">
      <mat-chip-list>
        <mat-chip [removable]="removable" (removed)="removeFinishedCourses()">
            {{finishedCourseFilePath}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </td>
    <td *ngIf="isFinishedCoursesFileCorrect">
      <mat-icon class="green-icon">done</mat-icon>
    </td>
    <td *ngIf="isFinishedCoursesFileSelected && !isFinishedCoursesFileCorrect">
      <mat-icon color="warn">clear</mat-icon>
      <label class="error">{{finishedCoursesErrorMessage}}</label>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button id="analyzeButton" (click)="compareCourses()" [disabled]="isButtonDisabled">Analyze</button>
    </td>
  </tr>
  <tr *ngIf="inputService.isErrorMsgShown()">
    <td rowspan="3">
      <label class="error">{{errorMsg}}</label>
    </td>
  </tr>
</table>
