hr {
    clear: both;
    background-color: #000000;
}
.center {
    vertical-align: text-top;
    border: 1px solid #000000;
}

.centerText {
    text-align: center;
}

.column0 {
    float: right;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 260px
}

.column1 {
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.resultColumn0 {
    float: right;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 10px;
}

.resultColumn1 {
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px
}

.resultTable {
    width: 400px;
    border: 1px solid #000000;
}

.resultTable td{
    border: 1px solid #000000;
}

.ectsCell {
    width: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.results {
    padding-top: 20px;
}

.resultRow {
    padding-top: 2px;
    padding-bottom: 5px;
}

#enLink {
    color: black;
}

#deLink {
    color: black;
}

#languageSettingDiv {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

#instructionText {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 90%;
}

#ectsTable td{
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #000000;
}

#optionalLabel {
    font-size: 12px;
    font-style: italic;
}

#closeApplicationDiv {
    padding-top: 15px;
    text-align: center;
}

#hintLabel {
    font-size: 11pt;
}
