.center {
    vertical-align: text-top;
    text-align: center;
    border: 2px solid black;
}
#mandatoryCoursesTextArea {
    width: 700px;
    height: 600px;
}
#additionalMandatoryCoursesTextArea {
    width: 700px;
    height: 300px;
}