<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/courseAnalyzerController.js"></script>
    <script src="js/app/courseAnalyzerService.js"></script>
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app/index.css">
</head>
<body ng-app="CourseAnalyzer">
    <hr/>
    <div class="container" ng-controller="courseAnalyzerController">
        <div class="center">
            <div class="row">
                <div class="column">
                    <p><label>Select Study Plan file</label></p>
                    <p><label>Select Transitional Provision file</label></p>
                    <p><label>Select Certificate List file</label></p>
                    <br/>
                    <p>Mandatory Courses ECTs: </p>
                    <p>Additional Mandatory Courses ECTs: </p>
                    <p>Optional Module ECTs: </p>
                    <p>Transferable Skills ECTs: </p>
                </div>
                <div class="column1">
                    <p><input type="file" accept=".pdf" filestudyplan='studyPlan' /></p>
                    <p><input type="file" accept=".pdf" filetransitionalprovision='transitionalProvision' /></p>
                    <p><input type="file" accept=".xlsx" filecertificatelist='certificateList' /></p>
                    <button ng-click="analyzeCourses()">Prüfen</button>
                    <p>{{courseReport.mandatoryCoursesEcts}}</p>
                    <p>{{courseReport.additionalMandatoryCoursesEcts}}</p>
                    <p>{{courseReport.optionalModuleCoursesEcts}}</p>
                    <p>{{courseReport.transferableSkillsEcts}}</p>
                </div>
            </div>

        </div>
        <hr/>
        <hr/>
    </div>

</body>

</html>