@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
    width: 70%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

}

section {
    justify-self: center;
    width: 60%;
    margin: 0 auto;
    padding: 2em;
}
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a { 
    color: black;
}

.resultTable {
    width: 60%;
}

.ectsCol {
    width: 13%;
}

.typeCol {
    width: 13%;
}
